.flex--row{
  @include flex-row();
}

.flex--column{
  @include flex-column();
}
html{
  background-color: #F7F7F7;
}

body{
  background-color: #F7F7F7;
  @include grid-container();
  @include flex-column();
    @include grid-media($media--desktop) {
  }
}

header{
  background-color: black;
  justify-content: space-between;
  @include flex-row();
  @include padding(1.5rem 2rem);
  @include grid-media($media--desktop) {
    height: 100%;
    min-width: 380px;
    position: fixed;
    @include padding(4rem 3rem);
    @include flex-column();
    align-items: flex-start;
  }
}

.mobile-menu{
  @include grid-media($media--desktop) {
    display: none;
  }
}

main{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  @include flex-column();
  @include padding(4rem 2rem);
  @include grid-media($media--desktop) {
    margin-left: 380px;
    width: auto;
    @include padding(4rem);
  }
}

$custom-grid--seconds: (
  columns: 2,
  gutter: 60px,
);

.custom-grid--seconds {
  @include grid-container;
}

.custom-grid--seconds__a-single-column {
  @include grid-column(1, $custom-grid--seconds);
}
